// component styles are encapsulated and only applied to their components
* {
  color: #FFEF00;
}

.news-list {
    width: 300px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #333333;
    background: #fff;
    float: left;

    .item {
        padding: 10px;
        width: 278px;
        min-height: 80px;
        border: 1px solid rgba(177, 177, 177, 0.43);
        cursor: pointer;

        &.selected {
            background: rgba(97, 95, 95, 0.14);
        }

        img {
            width: 80px;
            height: 80px;
            float: left;
            margin-right: 10px;
        }

        h4 {
            text-align: left;
            color: rgba(0, 0, 0, 0.63);
            font-size: 14px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        p {
            color: rgba(0, 0, 0, 0.43);
            font-size: 13px;
            text-align: left;
            margin-top: 10px;
        }
    }
}

.news-content {
    float: left;
    width: calc(100% - 302px);
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;

    .img-box {
        position: relative;
        color: white;

        img {
            width: auto;
            max-height: 300px;
            min-height: 100px;
        }

        .title-box {
            position: absolute;
            width: 100%;
            bottom: -1px;
            background: rgba(51, 51, 51, 0.54);
            padding-left: 20px;

            h4 {
                margin-bottom: 0px;
                color: white;
                text-align: left;
            }

            p {
                margin-top: 10px;
                color: white;
                text-align: left;
            }
        }
    }

    .story-box {
        color: rgba(0, 0, 0, 0.7);
        text-align: left;
        padding: 20px;
    }
}

